.homepage {
   display: flex;
   padding: 20px 80px;
   flex-direction: column;
   align-items: center;
}

.directory-menu {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.menu-item {
   min-width: 30%;
   height: 240px;
   display: flex;
   flex:  1 1 auto;
   align-items: center;
   justify-content: center;
   margin: 0 7.5px 15px;
   border: 1px solid black;

   &:first-child {
      margin-right: 7.5px;
   }

   &:last-child {
      margin-left: 7.5px;
   }

   .content {
      height: 90px;
      display: flex;
      padding: 0 25px;
      flex-direction: column;
      border: 1px solid black;
      align-items: center;
      justify-content: center;
   }

   .title {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 6px;
      color: #4a4a4a;
      
   }

   .sub-title {
      font-size: 16px;
      font-weight: lighter;
   }
}